:root {
  --color-primary: #203061;
  --color-primary-medium: #334991;
  --color-primary-light: #5b72b7;
  --color-secondary-gray: #efefef;
  --color-secondary-orange: #f09f72;
  --color-secondary-white: #ffffff;

  --font-primary: 'Source Sans Pro', sans-serif;
  --font-secondary: 'Oswald', sans-serif;
}

html {
  font-family: var(--font-primary);
  color: var(--color-primary);
}

/** Headings; focus on colour, font-weight, font-style and font-family **/

h1 {
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: 600;
}

h2 {
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: 600;
}

h3 {
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: 600;
  color: var(--color-primary-light);
}

h4 {
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: 600;
  color: var(--color-primary-light);
}

h5 {
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: 600;
  color: var(--color-secondary-orange);
}

h6 {
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: 600;
  color: var(--color-secondary-orange);
}

/** Lists **/

ul {
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: normal;
}

ol {
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: normal;
}

dl dt {
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 600;
}

dl dd {
  font-family: var(--font-primary);
  font-style: italic;
  font-weight: normal;
  color: var(--color-primary-light);
}

/** Links **/

a {
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: 300;
}

a:hover {
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: normal;
  color: var(--color-secondary-orange);
}

/** Blockquotes **/

blockquote {
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: 600;
  color: var(--color-primary-light);
}

cite {
  font-family: var(--font-primary);
  font-style: italic;
  font-weight: normal;
  color: var(--color-primary-light);
}

/** Emphasis and Edits **/

em {
  font-family: var(--font-primary);
  color: var(--color-primary-light);
}

strong {
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: bold;
  color: var(--color-primary-light);
}

del {
  font-family: var(--font-primary);
}

ins {
  font-family: var(--font-primary);
}

abbr {
  font-family: var(--font-primary);
}

dfn {
  font-family: var(--font-primary);
}

i {
  font-family: var(--font-primary);
  font-style: italic;
  font-weight: normal;
}

b {
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: bold;
}

mark {
  font-family: var(--font-primary);
  color: white;
  background-color: var(--color-secondary-orange);
}

q {
  font-family: var(--font-primary);
}

s {
  font-family: var(--font-primary);
}

u {
  font-family: var(--font-primary);
}
