<div class="skip-links">
  <a href="#banner">Jump to the header</a>
  <a href="#nav">Jump to the navigation</a>
  <a href="#main">Jump to the main content</a>
  <a href="#contentinfo">Jump to the footer</a>
</div>

<header role="banner" class="grid">

  <nav class="unit xs-1-2 s-1-2 m-1-2 l-1-2 navigation-1" role="navigation">
    <div id="menuToggle">
      <input type="checkbox" />
      <span></span>
      <span></span>
      <span></span>
      <ul id="menu">
        <li class="{% if page.highlight_nav == 'home' %}current{% endif %}"><a href="/">Home</a></li>
        <li class="{% if page.highlight_nav == 'about' %}current{% endif %}""><a href="/about/">About</a></li>
        <li class="{% if page.highlight_nav == 'gallery' %}current{% endif %}"><a href="/gallery/">Gallery</a></li>
        <li class="{% if page.highlight_nav == 'social' %}current{% endif %}"><a href="/social/">Social</a></li>
        <li class="{% if page.highlight_nav == 'cart' %}current{% endif %}"><a href="/checkout/"><i class="icon i-32"><svg><use xlink:href="/images/icons.svg#cart"></use></svg></i></a></li>
      </ul>
    </div>
  </nav>

  <div class="unit xs-1 s-1 m-1 l-1 logo navigation-1">
    <i class="icon i-64">
      <img class="island-1-8" src="/images/logo-64.svg" alt="Off The Shelf Logo">
    </i>
    <h1 class="icon-label tera pad-t-1-8">OFF THE SHELF</h1>
  </div>

  <div class="unit nav-2 navigation-2">
    <div class="grid grid-middle gutter pad-t-1-2">

      <div class="unit logo">
        <div class="grid grid-middle">
          <i class="icon i-64 unit">
            <img class="island-1-8" src="/images/logo-64.svg" alt="Off The Shelf Logo">
          </i>
          <h1 class="icon-label tera pad-t unit">OFF THE SHELF</h1>
        </div>
      </div>

      <ul role="nav" class="list-group-inline unit long-nav pin-top-right gutter pad-t-2">
        <li class="{% if page.highlight_nav == 'home' %}current{% endif %}"><a class="nav-2-item gutter-1-2" href="/">Home</a></li>
        <li class="{% if page.highlight_nav == 'about' %}current{% endif %}"><a class="nav-2-item gutter-1-2" href="/about/">About</a></li>
        <li class="{% if page.highlight_nav == 'gallery' %}current{% endif %}"><a class="nav-2-item gutter-1-2" href="/gallery/">Gallery</a></li>
        <li class="{% if page.highlight_nav == 'social' %}current{% endif %}"><a class="nav-2-item gutter-1-2" href="/social/">Social</a></li>
        <li class="{% if page.highlight_nav == 'cart' %}current{% endif %}"><a class="nav-2-item gutter-1-2" href="/checkout/"><i class="icon i-32 push-1-8"><svg><use xlink:href="/images/icons.svg#cart"></use></svg></i></a></li>
      </ul>

    </div>
  </div>

</header>
