a:focus {
  outline: 3px solid #000;
}

.line {
  border: solid var(--color-primary) .5px;
}

.product-details-title {
  color: var(--color-primary);
}

.total {
  background-color: #f1f1f1;
}

.content-section {
  max-width: 32em;
}

@media only screen and (min-width: 36em) {

  .shopping-summary-content {
    padding-left: .5em;
  }

}
