.icon-label {
  font-family: var(--font-secondary);
}

.copyright {
  background-color: #f2f2f2;
}

.icon {
  color: var(--color-primary);
  transition: color .2s linear;
}

.icon:hover {
  color: var(--color-secondary-orange);
}
