.btn {
  background-color: var(--color-primary);
  border: none;
  color: var(--color-secondary-white);
  font-family: var(--font-secondary);
  transition: background-color .3s linear;
}

.btn:hover {
  background-color: var(--color-secondary-orange);
  border: none;
}

.btn-ghost {
  background-color: transparent;
  color: var(--color-primary);
  border: solid 2px var(--color-primary);
  transition: color .3s linear;
}

.btn-ghost:hover {
  color: var(--color-secondary-white);
  border: solid 2px var(--color-secondary-white);
  background-color: var(--color-primary-light);
}

.btn-light {
  background-color: transparent;
  color: var(--color-primary);
  border: solid 2px var(--color-primary);
  transition: color .3s linear;
}

.btn-light:hover {
  background-color: var(--color-primary-light);
  border: none;
}

.btn-subtle {
  border-style: none;
  background-color: transparent;
  color: var(--color-primary);
  transition: color .3s linear;
  text-decoration: underline;
}

.btn-subtle:hover {
  background-color: transparent;
  color: var(--color-secondary-orange);
}

.back-to-gallery-btn {
  background-color: #f1f1f1;
}

.btn-subtle-gallery {
  border-style: none;
  background-color: transparent;
  color: var(--color-primary);
  transition: color .3s linear;
  text-decoration: underline;
}

.btn-subtle-gallery:hover {
  background-color: transparent;
  color: var(--color-secondary-orange);
}
