a:focus {
  outline: 3px solid #000;
}

.banner-btn, .featured-products-banner, .commissions-banner {
  background-color: var(--color-secondary-gray);
}

.banner-btn p {
  max-width: 300px;
}

.banner-btn-content, .product-list-banner-content, .featured-products-banner-title, .commissions-banner-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.svg-1, .alerts {
  background-color: var(--color-secondary-orange);
}

.svg-2 {
  background-color: var(--color-secondary-white);
}

.svg-3 {
  background-color: var(--color-primary);
}

.svg-4 {
  background-color: var(--color-primary-light);
}

.product-list-banner {
  background-color: var(--color-secondary-gray);
}

.img-2, .img-3, .img-4 {
  display: none;
}

@media only screen and (min-width: 60em) {

  .img-2, .img-3, .img-4 {
    display: block;
  }

}
